<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<targets>
		<target name="console" xsi:type="Console"/>
		<target name ="file" fileName="nlog-example.log" 
				layout="${longDate} ${level:uppercase =true} ${logger} ${message} ${exception}
				        ${customProperty:UserId}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="Console,file"/>
	</rules>
</configuration>